<header class="header">

  <div class="logo container col-4">
    <i class="fas fa-circle fa-4x"></i>
  </div>

</header>

<footer class="footer">

  <div class="row footer-icons">

    <div class="col-4" routerLink="/about">
      <i class=" far fa-user fa-lg"></i>
      <div>about</div>
    </div>

    <div class="col-4" routerLink="/work">
      <i class="fas fa-laptop-code fa-lg"></i>
      <div>work</div>
    </div>

    <div class="col-4" routerLink="/contact">
      <i class=" far fa-comment fa-lg"></i>
      <div>contact</div>
    </div>

  </div>

</footer>

<router-outlet></router-outlet>